doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        block pagehead
    body(style='padding:0')
        block navigationbar
        nav.navbar.navbar-inverse.navbar-static-top
            div.navbar-inner
                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        if active === 'sessions'
                            li.active
                                a(href='/sessions/list') Sessions
                        else
                            li
                                a(href='/sessions/list') Sessions
                        if active === 'projects'
                            li.active
                                a(href='/projects') Projects
                        else
                            li
                                a(href='/projects') Projects
        div.container-fluid
            block content
