extends layout

block navigationbar
    - var active = 'scopes'
block content
    table.table.table-striped.table-bordered
        tr
            th
                h2 Available Projects
        each project in projects
            tr
                td
                    a(href='/scopes/' + project) #{project}