#initialScanDialog {
    position: absolute;
    text-align: center;
    vertical-align: center;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -120px;
    width: 320px;
    height: 240px;
}
